body {
  font-family: Helvetica, sans-serif;
}

h1, h2, h3 {
  font-weight: bold;

}


.bkg-image {
  color: white;
  background-image: url("file:///Users/kenessa/Desktop/CODE-projects/broadway/resources/images/background.png");
  text-align: center;
  background-size: cover;
  padding: 8px 0px 8px 0px;
}


#top-items {
  font-size: 18px;
  color: white!important;
  font-weight: normal;
}

#header1 {
  font-size: 70px;

}

#header2 {
  font-size: 32px;
  font-weight: bold;

}

#header3 {
  font-size: 23px;
  font-weight: bold;
}

#white {
  color: white;
  font-weight: bold;
  font-size: 23px;
}
